@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    color: #411F1F;
}

* {
    padding: 0;
    margin: 0;
}

body {
    padding-top: 30px;
    margin: 0;
    background-image: url(background/tictactoe.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.container {
    display: grid;
    background-color: #F3F3F3;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.item {
    font-size: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 300px;
    height: 2rem;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: #CEDEBD;
    border: none;
    border-radius: 5px;

}

button:hover {
    border-radius: 30px;
}

.form-container {
    opacity: 0;
}

form {
    display: grid;
    gap: 20px;
    place-items: center center;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

input[type="text"] {
    padding-left: 5px;
    width: 150px;
    height: 1.2rem;
    font-family: inherit;
    font-size: 18px;
    color: inherit;
    background-color: #86C4BA;
    border: none;
    border-radius: 5px;
}

input[type="text"]:focus {
    outline: none;
    border: 2px solid #CEDEBD;
}
